@import '6-utilities/initial-variables';

.click-menu {
  display: none;
  padding: 10px 0;
  position: fixed;
  z-index: 9999;
  width: 264px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.item-click {
  border-left: 4px solid #ed1b2f; }

.global {
  border-left: 4px solid #2c3e50; }

.click-menu li {
  list-style: none;
  padding: 4px 20px;
  color: #848484;
  cursor: pointer; }

.click-menu li i {
  margin-right: 15px; }

.click-menu li img {
  height: 20px; }

.click-menu li:not(.bdr-bottom):hover {
  background: #f3f3f3; }

.bdr-bottom {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 8px; }