@import '6-utilities/initial-variables';

.ps-wrapper {
	width: 80%;
	margin: auto;

	.penilaian_resiko {
		width: 100%;
		font-family: $open-sans;
		border-collapse: collapse;
		border-radius: 4px;
		padding-bottom: 15px;

		&.preview {
			th {
				vertical-align: bottom!important;
			}
			td:nth-child(2) {
				text-align: left!important;
			}
			input {
				width: 30px;
				padding: 0!important;
			}
		}

		tr {
			border-top: 1px solid #ddd;
			background-color: #fff;

			&:first-child {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;

				& > th:first-child {
					border-top-left-radius: 4px;
				}

				& > th:last-child {
					border-top-right-radius: 4px;
				}
			}

			&:last-child {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;

				& > td:first-child {
					border-bottom-left-radius: 4px;
				}

				& > td:last-child {
					border-bottom-right-radius: 4px;
				}
			}

			td {
				padding: 5px;
				text-align: center;
				color: #929CB3;

				.input {
					padding: 3px 5px;
					border-radius: 2px;
					border: none;
					background-color: #fff;
					font-family: $open-sans;

					&:read-only {
						width: 35px!important;
					}
				}

				.select {
					padding: 3px 5px;
					border-radius: 2px;
					border: none;
					background-color: #fff;
					font-family: $open-sans;
				}

				.catatan {
					padding: 0 6px;
					border-radius: 25px;
					background-color: #ddd;
					color: #fff;

					&.red {
						background-color: #e74c3c;
					}
					&.yellow {
						background-color: #fed330;
						padding: 0 5px;
					}
					&.green {
						background-color: #2ecc71;
						padding: 0 8px;
					}
				}
			}
		}

		tr.header {
			background-color: #fff;
			color: #1E2330;
			border-top: none;

			th {
				border: none;
				font-weight: 400;
				padding: 3px;
				font-size: 15px;
				vertical-align: middle;
			}
		}
	}
}