.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 225px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 23px;
  // margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 999;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  // left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tab {
  padding: 15px;
}

.reject {
  left: 0;
  font-weight: 400;
  white-space: pre-line;
  text-align: left!important;
  padding: 3px 5px!important;
  font-size: 13px;

  &:after {
    left: 14px;
  }
}

